.navbar{
    background-color: black;
    border-radius: 0;
    
}
.container h2{
    text-align: center;
    background-color: white;
}
.text-center{
    color: indigo;
}
.container{
    background-color: grey;
    color: black;

}

 
 